p
{
  font-family: cursive;
  font-family: "Times New Roman",Georgia,serif;

  color: #0000ff;
  background-color:rgba(128, 0, 128, 0.609);
}
h1
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color: #ff0000;
  background-color: #00ffff;
}
h3{
    font-family: "Times New Roman",Georgia,serif;
    font-size: 40px;
    color: black;
    background-color: #00ffff;

}